@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

.spiner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #4f17a8;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
